<div class="container">
	<div class="page-header">
		<h2>Recommended Itinerary</h2>
	</div>
	<% for (var i = 0; i < itinerary.days.length; i++) { %>
		<h3><strong>Day <%= i+1 %></strong></h3>
		<% var day = itinerary.days[i]; %>
		<% var progress = [["bar-clear", (day.events[0].start_time-600)/2400.0]]; %>
		<div class="day row">
			<div class="col-sm-6 col-md-5">
				<% var stops = []; %>
				<% for (var j in day.events) { %>
					<% var p = day.events[j].place; %>
					<% if (p) { %>
						<% stops.push(p.latitude + "," + p.longitude) %>
					<% } %>
				<% } %>
				<div id="map-canvas<%= i %>" class="map-canvas" data-stops="<%= stops.join("&") %>"></div>
			</div>
			<div class="events col-sm-6 col-md-7">
				<% for (var j in day.events) { %>
					<% var e = day.events[j]; %>
					<% var percent = (e.end_time - e.start_time)/2400.0; %>
					<div class="event <%= e.type.toLowerCase() %>-event">
						<% if (e.type == "Place") { %>
							<% progress.push(["progress-bar-info", percent]); %>
							<h3>
								<%= e.place.title %> <small><%= humanize_time(e.start_time, true) %> to 
								<%= humanize_time(e.end_time, true) %></small>
							</h3>
						<% } else { %>
							<% progress.push(["progress-bar-warning progress-bar-striped", percent]); %>
							<p>Travel</p>
						<% } %>
					</div>
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="progress">
				<% for (var k in progress) { %>
					<% var p = Math.ceil(progress[k][1]*100); %>
					<div class="progress-bar <%= progress[k][0] %>" style="width: <%= p %>%">
						<span class="sr-only"><%= p %>% Percent</span>
					</div>
				<% } %>
			</div>
			<hr class="shadow" />
		</div>
	<% } %>
</div>