<div id="top_places" class="fluid-container">
	<h2>What places do you want to go? <small>Showing Top Places</small>
	<!-- <div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
		</ul>
	</div> -->
	</h2>
<!-- 	<div class="left-hover-scroll"></div>
	<div class="right-hover-scroll"></div> -->
	<div class="picture-wrapper">
	<% for (var i in places) { %>
		<% if (i == 0) { %>
		<%	active = "active"; %>
		<% } else { %>
		<%	active = ""; %>
		<% } %>
		<div class="picture <%= active %>" data-id="<%= places[i].id %>">
			<img src="<%= places[i].images[0] %>">
			<div class="mask"></div>
			<div class="checkmark">
				<i class="fa fa-check"></i>
			</div>
		</div>
	<% } %>
	</div>
</div>

<div class="content-panes container">
	<% for (var i in places) { %>
		<% if (i == 0) { %>
		<%	active = "active"; %>
		<% } else { %>
		<%	active = ""; %>
		<% } %>
		<div class="content <%= active %>" data-id="<%= places[i].id %>" style="display: none;">
			<h2><%= places[i].title %></h2>
			<p class="lead"><%= places[i].description %></p>
		</div>
	<% } %>
</div>